{% extends('base.html') %}

{% block content %}
    <p>
    <a href="{{ url_for('main.home') }}" class="link-light"><p class="h5">&#129044; Back</p></a>
    </p>
<form method="POST" action="{{ url_for('main.download') }}">
    {{ form.hidden_tag() }}
    <div class="card text-center mt-5">
        <div class="card-header">
            <h3 class="text-dark">{{ url.title }}/h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <select name="itag" aria-label="Default select example">
                    {% for i in url.streams.filter(progressive=True) %}
                    <option value="{{ i.itag }}"> {{ i.resolution }} </option> # Iterating through the qualities of the video.
                    {% endfor %}
                </select>
            </p>
        </div>
        <div class="card-footer text-muted">
            <div class="d-flex justify-content-evenly m-4">
                <input type="submit" value="Download" class="btn btn-primary col-3 me-2" />
            </div>
        </div>
    </div>
</form>

{% endblock %}